<!DOCTYPE html>
<html lang="es">

{{> head }}


    
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>{{capitalizar 'capitan america'}}</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo itaque non molestias, dolorum odio explicabo nisi laudantium rerum. Ipsam assumenda esse aliquid illo nisi possimus consequuntur provident ducimus suscipit cumque!

            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/capitan-america.png" class="img-thumbnail" alt="imagen capitan america">
        </div>
    </div>

    {{> footer }}

</html>